*
{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: sans-serif;
}


header
{
    position:fixed ;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 2.0s;
    z-index: 100000;
    padding: 20px 20px;
}



header.sticky
{
    padding: 10px 10px;
    background: #183529;
}

header ul
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

header ul li
{
    position: relative;
    list-style: none;
}

header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 1.0s;
    border-radius: 20px;
}

header .ThePiecesLogo
{
  width: 120px;
  background-position: center;
}


header ul li a:hover
{
    background: #000;
    color: #fff;
}


header.sticky .name,
header.sticky ul li a
{
    color: #fff;
}

.container
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(Background\ our\ ministry.jpg);
    background-position: center;
    background-size: cover;
}

.row
{
    display: flex;
    align-items: center;
}

.col
{
    flex-basis: 50%;
    padding: 0.5cm;
    margin-top: 220px;
}
h1
{
    color: white;
    font-size: 100px;
}

p
{
    color: white;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
}

button
{
    width: 180px;
    padding: 13px 0;
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

button a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 900px;
    border-radius: 20px;
}

button:hover
{
    transform: translateY(-10px);
    transition: transform 0.5s;
}

.col1
{
    flex-basis: 50%;
}

.card 
{
    transition: transform 0.5s;
}

.card1
{
    width: 302px;
    height: 200px;
    display: inline-block;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-image: url(Workshop.jpg) ;
    margin-top: 150px;
}

.card2
{
    width: 302px;
    height: 200px;
    display: inline-block;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-image: url(Cross.jpg) ;
    margin-left: 330px;
    margin-top: 150px;
}

.card3
{
    width: 302px;
    height: 200px;
    display: inline-block;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-image: url(Retreat.jpg) ;
    margin-top: 400px;
    
}
.card4
{
    width: 302px;
    height: 200px;
    background-image: url(Personal\ Spiritual\ Direction.jpg) ;
    background-position: center;
    background-size: cover;
    margin-top: 400px;
    margin-left: 330px;
    border-radius: 30px;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    
}

h5
{
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}


.card:hover
{
    transform: translateY(-10px);
}

